@model Student
@{
    ViewData["Title"] = "StudentView";
}

<h1>@Model.firstName @Model.lastName</h1>

<h2>n Number</h2>
<p>@Model.nNumber</p>
<h2>Birth Date</h2>
<p>@Model.birthDate</p>
<h2>Scholarship Source</h2>
<p>@Model.scholarship</p>